---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="ctp-mocha bg-ctp-crust">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative h-screen">
    <Header />
    <main class="p-16 flex flex-col w-full h-[84%]
			justify-center items-center">
      <div class="flex flex-col items-center space-y-4">
        <h1 class="text-5xl font-bold text-ctp-text">Zachary Myers</h1>
        <p class="py-4 text-ctp-blue">
          Software Engineer, Hardware Hacker, Photographer
        </p>
      </div>
      <a href="/about">
        <button
          class="flex justify-center py-3 px-4 mt-4 w-32 text-black rounded-full bg-ctp-blue"
          >About me <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
          </svg>
        </button>
      </a>
      <div class="absolute bottom-5">
        <Footer />
      </div>
    </main>
  </body>
</html>
