---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="ctp-mocha bg-ctp-base"> 
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-screen bg-base relative">
		<Header />
		<main class="p-16 flex flex-col w-full h-[84%]
			justify-center items-center">
			<div class="flex flex-col items-center space-y-4">
				<h1 class="font-bold text-ctp-text text-5xl">Zachary Myers</h1>
				<p class="py-4 text-ctp-blue">Software Engineer, Hardware Hacker, Photographer</p>
			</div>
			<a href="/about">
			<button class="rounded-full bg-ctp-blue text-black w-32 mt-4 flex px-4 py-3 justify-center">About me <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
</svg>
</button>
				</a>
<div class="absolute bottom-5">
		<Footer  />
				</div>
		</main>
	</body>
</html>
